### Intellij ###

.idea
*.iml
.idea_modules

### MacOS ###

*.DS_Store
.AppleDouble
.LSOverride

### Gradle ###

.gradle
/buildTool/
build

### VisualStudioCode ###

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
